<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">
      Copyright &copy; 2015-2017 高井戸第三小学校学校支援本部
    </div>
  </div>
  <div class="mdl-mini-footer__right-section">
    <a href="index.html"><button class="mdl-mini-footer__social-btn"><i class="material-icons">home</i></button></a>
    <a href="create.html"><button class="mdl-mini-footer__social-btn"><i class="material-icons">lock</i></button></a>
  </div>
</footer>
