<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">
      Copyright © 2015-2017 高井戸第三小学校学校支援本部
    </div>
    <div>
      このソフトウェアは、<a href="https://github.com/umireon">umireon</a>が❤と💴とともにお届けしています。
      継続的開発のために、是非<a href="http://amzn.asia/fKSL0nS">寄付</a>をよろしくお願いいたします。
    </div>
  </div>
</footer>
