<dialog class="mdl-dialog">
  <form id="login">
    <h4 class="mdl-dialog__title">Login</h4>
    <div class="mdl-dialog__content">
      <div>
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="email" name="email" required>
          <label class="mdl-textfield__label" for="email">Email</label>
        </div>
      </div>
      <div>
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="password" name="password" required>
          <label class="mdl-textfield__label" for="password">Password</label>
        </div>
      </div>
    </div>
    <div class="mdl-dialog__actions">
      <input type="submit" class="mdl-button" value="Login">
      <button class="mdl-button" id="cancel">Cancel</button>
    </div>
  </form>
</dialog>
