<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>新規作成 - 支援隊ヌーボー</title>

  <%- include('partial/head.ejs') %>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>

  <%- include('partial/head-script.ejs') %>  
</head>
<body>
<%- include('partial/header.ejs') %>

<div class="container" id="app">
  <form action="#" method="POST" class="card" @reset.prevent="onReset">
    <div class="card-title amber darken-1">Creating a new post</div>
    <div class="card-content">
      <div class="input-field">
        <input id="title" type="text" required v-model="title">
        <label for="title">Title</label>
      </div>
      <div class="input-field">
        <textarea id="body" class="materialize-textarea" required v-model="body"></textarea>
        <label for="body">Body</label>
      </div>
      <div class="input-field">
        <datetime-local id="createdAt" required class="validate" v-model="createdAt"></datetime-local>
        <label for="createdAt" class="active">Created at</label>
      </div>
    </div>
    <div class="card-action">
      <button class="btn" type="submit">Submit</button>
      <button class="btn-flat" type="reset">Reset</button>
      <button class="btn-flat" @click.prevent="onLogout">Logout</button>
    </div>
  </form>

  <post-cards :posts="[{ title: title, body: body, createdAt: createdAt }]" :ready="true"></post-cards>
</div>

<%- include('partial/footer.ejs') %>

<div id="logindialog"></div>

<script src="create.js"></script>
</body>
</html>