<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>支援隊ヌーボー</title>

  <%- include('partial/head.ejs') %>
</head>
<body>
<div class="mdl-layout mdl-js-layout">
  <%- include('partial/header.ejs') %>

  <main class="mdl-layout__content" id="app" style="overflow: visible">
    <section class="mdl-grid" style="padding-bottom: 0">
      <div class="mdl-cell mdl-cell--12-col" style="margin-top: 0; margin-bottom: 0">
        こちらは、たかさん支援隊からの連絡などを配信するサイトです。
      </div>

      <notify-switch :busy="busy" :enabled="notify" @click="onNotifyToggle" style="margin-top: 0; margin-bottom: 0"></notify-switch>
    </section>

    <post-cards :posts="posts" :ready="ready"></post-cards>

    <section class="mdl-grid" v-show="!ready">
      <div class="mdl-spinner mdl-js-spinner is-active" style="margin: auto"></div>
    </section>

    <%- include('partial/footer.ejs') %>
  </main>
</div>
<script src="index.js"></script>
</body>
</html>