<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>支援隊ヌーボー</title>

  <%- include('_partial/head.ejs') %>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <%- include('_partial/header.ejs') %>

  <main class="mdl-layout__content" id="app">
    <section class="mdl-grid">
      <p class="mdl-cell mdl-cell--12-col">
        こちらは、たかさん支援隊からの連絡などを配信するサイトです。
      </p>
      <button class="mdl-button mdl-js-button mdl-button--raised" :class="{ 'mdl-button--accent': notify }" :disabled="busy" @click="onNotifyToggle">
        {{ notify ? '通知オン' : '通知オフ' }}
      </button>
      <template v-if="error === 'messaging/permission-blocked'">
        通知がブロックされています。
      </template>
      <div class="mdl-spinner mdl-js-spinner is-active" v-show="busy"></div>
    </section>

    <post-cards :posts="posts" :ready="ready"></post-cards>
    <section class="mdl-grid" v-show="!ready">
      <div class="loading mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Loading...</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <div class="mdl-spinner mdl-js-spinner is-active"></div>
        </div>
      </div>
    </section>

    <%- include('_partial/footer.ejs') %>
  </main>
</div>
<script src="index.js"></script>
</body>
</html>