---
layout: layout.html
title: 支援隊ヌーボー
---
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <%- include ../partials/header.ejs %>

  <main class="mdl-layout__content" id="app">
    <section class="mdl-grid">
      <p class="mdl-cell mdl-cell--12-col">
        こちらは、たかさん支援隊からの連絡などを配信するサイトです。
      </p>
      <button class="mdl-button mdl-js-button mdl-button--raised" v-bind:class="{ 'mdl-button--accent': notifyEnabled }" v-bind:disabled="requesting" v-on:click="onToggleNotification">
        <template v-if="notifyEnabled">
          通知オン
        </template>
        <template v-else>
          通知オフ
        </template>
      </button>
      <template v-if="error === 'messaging/permission-blocked'">
        通知がブロックされています。
      </template>
      <div style='display: none' v-bind:style="{ display: requesting ? 'block' : 'none' }">
        <div class="mdl-spinner mdl-js-spinner is-active"></div>
      </div>
    </section>

    <transition-group name="posts" tag="section" class="mdl-grid" v-show="posts.length > 0">
      <div v-for="post in posts" class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp" v-bind:key="post">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">{{ post.title }}</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <p v-for="line in post.body.split('\n')" v-text="line"></p>
          <p>{{ post.createdAt | date-localize }}</p>
        </div>
      </div>
    </transition-group>
    <section class="mdl-grid" v-show="posts.length == 0">
      <div class="loading mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">Loading...</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <div class="mdl-spinner mdl-js-spinner is-active"></div>
        </div>
      </div>
    </section>

    <%- include('../partials/footer.ejs') %>
  </main>
</div>
<script><%- include('../js/index.js') %></script>
