<!DOCTYPE html>
<html lang="ja" style="font-family: sans-serif">
<head>
  <meta charset="utf-8">
  <title>支援隊ヌーボー</title>

  <%- include('partial/head.ejs') %>
  <%- include('partial/head-script.ejs') %>
</head>
<body class="grey lighten-3">
<%- include('partial/header.ejs') %>

<div class="container" id="app">
  <div class="col s12">
  </div>

  <section class="col s12">
    <div>
      こちらは、たかさん支援隊からの連絡などを配信するサイトです。
    </div>

    <notify-switch :busy="busy" :enabled="notify" @click="onNotifyToggle" style="margin-top: 0; margin-bottom: 0"></notify-switch>
    <div class="p7button" data-button-text="購読する"></div>
  </section>

  <post-cards style="padding-top: 0" :posts="posts" :ready="ready"></post-cards>
</div>

<%- include('partial/footer.ejs') %>

<script src="https://sdk.push7.jp/v2/p7sdk.js"></script>
<script>p7.init("7ade8ba6dfb94098a1cc5034e877e0fb", {mode: "native", subscribe: "auto"})</script>
<script src="index.js"></script>
</body>
</html>